body{
    background-color:  rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,52,1) 0%, rgba(5,164,61,1) 51%, rgba(0,212,255,1) 100%);;
    font-family: sans-serifSS;
}

h1 {
    color: brown;
    display: inline-block;
    background-color: blue;
}

.link {
    display:  inline-block;
    
}

.links li {
    display: inline-block;
    text-decoration: none;
    font-size: x-large;
}

.card img {
    height: 500px;
    width: 100%;
    border: 10px;
    box-shadow: 5px 5px 10px rgba(rgb(0, 0, 0), rgb(0, 0, 0), hsl(0, 0, 1.5), alpha);
}

.card h2 {
    display: inline-block;
    font-style: italic;
    font-weight: bold;
}


.card {
    width: 40%;
    display: inline-block;

}

#About {
    width: 40%;
    margin: 10px;
}

#About h3{
    font-size: 20px;
    font-weight: 300S;
}

#contac {
    margin-top: ;
}

#contac p{
    font-size: 15px;
    margin: 0;
    text-decoration: black underline;
}

html {
    scroll-behavior: smooth;
}

.card img:hover {
    opacity: 0.2;
}

